<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<head>
<title>포플</title>
<meta charset="utf-8" />

<style>
.box1 {
	width: 200px;
	height: 200px;
	border-radius: 70%;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 30px;
	box-shadow: 3px 3px 4px gray
}

.profile {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
</style>

</head>
<body layout:fragment="content" class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<a href="/" class="logo">PHOPLE</a>
		</header>

		<!-- Nav -->
		<nav id="nav">
			<ul class="links">
				<li><a th:href="@{/}">Photographer List</a></li>
				<li><a th:href="@{/modellist/list}">Model List</a></li>
				<li sec:authorize="hasAnyAuthority('ROLE_PP')" class="active"><a th:href="@{/myportfolio/portfolio}">My Portfolio</a></li>
				<li sec:authorize="hasAnyAuthority('ROLE_PP')"><a th:href="@{/myreservation/reservation}">My Reservation</a></li>
				<li sec:authorize="isAnonymous()"><a href="new">SIGN UP</a></li>
				<li sec:authorize="isAnonymous()"><a th:href="@{login}">LOGIN</a></li>
				<li sec:authorize="hasAnyAuthority('ROLE_PP')"><a href="/members/logout">LOGOUT</a></li>
			</ul>
			<ul class="icons">
				<li><a href="#" class="icon brands fa-instagram"><span
						class="label">Instagram</span></a></li>
				<li><a href="#" class="icon brands fa-github"><span
						class="label">GitHub</span></a></li>
			</ul>
		</nav>
		
		<form class="row g-3" role="form" method="post" enctype="multipart/form-data" th:object="${MemberFormDto}">
		<!-- Main -->
		<div id="main">
	
			<!-- Post -->
			<section class="post">

				<div class="box1" style="background: #BDBDBD;">
					<img class="profile" src="/images/ex1.JPG">
				</div>

				<header class="major">
					<h1>Hong gildong 작가님</h1>
				</header>

				<!-- Text stuff -->

				<h2>소개</h2>
				<p>
					<span class="input-group-text">간단한 소개</span>
  					<input type="text" class="form-control" th:field="*{intru}" placeholder="간단한 소개 입력">
				</p>
				<hr />

				<!-- Image -->
				<h2>Portfolio</h2>

				<span class="image fit"><img src="images/pic01.jpg" alt="" /></span>
				<div class="box alt">
					<div class="row gtr-50 gtr-uniform">
					
						<div class="col-4">
							<span class="image fit"><img src="/images/pic02.jpg" alt="" /></span>
						</div>
						
						<div class="col-4">
							<span class="image fit"><img src="/images/pic03.jpg" alt="" /></span>
						</div>
						
						<div class="col-4">
							<span class="image fit"><img src="/images/pic04.jpg" alt="" /></span>
						</div>
						
						<!-- Break -->
						<div class="col-4">
							<span class="image fit"><img src="/images/pic04.jpg" alt="" /></span>
						</div>
						
						<div class="col-4">
							<span class="image fit"><img src="/images/pic02.jpg" alt="" /></span>
						</div>
						
						<div class="col-4">
							<span class="image fit"><img src="/images/pic03.jpg" alt="" /></span>
						</div>
						
						<!-- Break -->
						<div class="col-4">
							<span class="image fit"><img src="/images/pic03.jpg" alt="" /></span>
						</div>
						
						<div class="col-4">
							<span class="image fit"><img src="/images/pic04.jpg" alt="" /></span>
						</div>
						
						<div class="col-4">
							<span class="image fit"><img src="/images/pic02.jpg" alt="" /></span>
						</div>
						
					</div>
				</div>
				
				

				<h3>Left &amp; Right</h3>
				<p>
					<span class="image left"><img src="/images/pic08.jpg" alt="" /></span>
					123
				</p>
				<p>
					<span class="image right"><img src="/images/pic09.jpg" alt="" /></span>
					123
				</p>

				<hr />

				<!-- Lists -->
				<div class="row">
					<div class="col-6 col-12-small">
						<h3>Photographer SNS</h3>
						<ul class="icons">
							<!-- <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
												<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li> -->
							<li><a href="#" class="icon brands fa-instagram"><span
									class="label">Instagram</span></a></li>
							<!-- <li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
												<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li> -->
						</ul>
					</div>

				</div>
				<hr />
				<h3>INFO</h3>
				<dl>
					<dt>연락처</dt>
					<dd>
						<p>010-1111-1111</p>
					</dd>
					<dt>이메일</dt>
					<dd>
						<p>Hong@email.com</p>
					</dd>
					<dt>촬영지역</dt>
					<dd>
						<p>서울/경기</p>
					</dd>
				</dl>
		
		</form>
				<!-- </form> -->
		
				<hr />
				<!-- Blockquote -->
				<h2>※ 예약시 주의사항</h2>
				<blockquote>
					포플에서의 예약은 상호간 예약이 합의되었다는 명시적<br> 기록을 남겨 노쇼나 사고를 예방함에 있습니다. <br>
					촬영에 대한 상세한 내용은 <b>개인적으로 작가/모델님과 선 연락</b> 후 <br> 예약을 등록하시길
					권장합니다. <br> <br> 추후 사용자 신고 및 보증금 기능 도입예정.
				</blockquote>
				<hr />
				<h2>Form</h2>

				<form method="post" action="#">
					<div class="row gtr-uniform">

						<div>
							<label for="start">Desired reservation date</label> <input
								type="date" id="currentDate" name="trip-start" min="2022-12-31"
								max="2024-12-31">
						</div>

						<div class="col-12">
							<textarea name="demo-message" id="demo-message"
								placeholder="Enter your message" rows="6"></textarea>
						</div>

						<div class="col-12">
							<ul class="actions">
								<li><input type="submit" value="Send Message"
									class="primary" /></li>
								<li><input type="reset" value="Reset" /></li>
							</ul>
						</div>
					</div>
				</form>

				<hr />
				
		<a href="/myportfolio/portfolioEdit" class="button">수정저장</a>

			</section>
		</div>

		<!-- Footer -->


		<!-- Copyright -->
		<div id="copyright">
			<ul>
				<li>&copy; Untitled</li>
				<li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
			</ul>
		</div>


	</div>

	<!-- Scripts -->
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/jquery.scrollex.min.js"></script>
	<script src="/assets/js/jquery.scrolly.min.js"></script>
	<script src="/assets/js/browser.min.js"></script>
	<script src="/assets/js/breakpoints.min.js"></script>
	<script src="/assets/js/util.js"></script>
	<script src="/assets/js/main.js"></script>
</body>

<script>
	document.getElementById('currentDate').value = new Date().toISOString()
			.substring(0, 10);
</script>

</html>